// ==========================================================================
// Imports
// ==========================================================================

//@import 'reset';

//Global variables
@import 'variables';

//Bootstrap
@import 'bootstrap-custom';

//FontAwesome
@import 'font-awesome-custom';

.menu > ul {
  @extend .navbar-nav;
  @extend .nav;
}

.current_page_item {
  @extend .active;
}

#page-sidebar > ul > li {
  @extend .list-group-item;
  
  list-style: none;
  
  border-left: none;
  border-right: none;
  border-bottom: none;
  
  &:first-child {
    border: none;
  }
}